{
  "log": {
    "_recordingName": "CreateClose",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e0f1891a3c7ea54345389d46054582ba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"test02\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/t-eri125/js-exercises/issues"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2267,
            "text": "{\"url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/16\",\"repository_url\":\"https://api.github.com/repos/t-eri125/js-exercises\",\"labels_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/16/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/16/comments\",\"events_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/16/events\",\"html_url\":\"https://github.com/t-eri125/js-exercises/issues/16\",\"id\":3942226690,\"node_id\":\"I_kwDOOLKrZ87q-ZsC\",\"number\":16,\"title\":\"test02\",\"user\":{\"login\":\"t-eri125\",\"id\":203991549,\"node_id\":\"U_kgDODCip_Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/203991549?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/t-eri125\",\"html_url\":\"https://github.com/t-eri125\",\"followers_url\":\"https://api.github.com/users/t-eri125/followers\",\"following_url\":\"https://api.github.com/users/t-eri125/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/t-eri125/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/t-eri125/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/t-eri125/subscriptions\",\"organizations_url\":\"https://api.github.com/users/t-eri125/orgs\",\"repos_url\":\"https://api.github.com/users/t-eri125/repos\",\"events_url\":\"https://api.github.com/users/t-eri125/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/t-eri125/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-02-14T20:18:31Z\",\"updated_at\":\"2026-02-14T20:18:31Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":null,\"closed_by\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/16/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/16/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"pinned_comment\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"2b43b64c8c7d6171800184937ec2910ab7fdd89b6c51420819b8a11750955cff\""
            },
            {
              "name": "github-authentication-token-expiration",
              "value": "2026-02-21 17:33:41 +0900"
            },
            {
              "name": [...]
