{
  "log": {
    "_recordingName": "List",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3677a3edf6d1b2d60f08e9841726bdc5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "state",
              "value": "open"
            }
          ],
          "url": "https://api.github.com/repos/t-eri125/js-exercises/issues?state=open"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 29426,
            "text": "[{\"url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/14\",\"repository_url\":\"https://api.github.com/repos/t-eri125/js-exercises\",\"labels_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/14/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/14/comments\",\"events_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/14/events\",\"html_url\":\"https://github.com/t-eri125/js-exercises/issues/14\",\"id\":3942178619,\"node_id\":\"I_kwDOOLKrZ87q-N87\",\"number\":14,\"title\":\"test01\",\"user\":{\"login\":\"t-eri125\",\"id\":203991549,\"node_id\":\"U_kgDODCip_Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/203991549?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/t-eri125\",\"html_url\":\"https://github.com/t-eri125\",\"followers_url\":\"https://api.github.com/users/t-eri125/followers\",\"following_url\":\"https://api.github.com/users/t-eri125/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/t-eri125/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/t-eri125/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/t-eri125/subscriptions\",\"organizations_url\":\"https://api.github.com/users/t-eri125/orgs\",\"repos_url\":\"https://api.github.com/users/t-eri125/repos\",\"events_url\":\"https://api.github.com/users/t-eri125/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/t-eri125/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-02-14T20:01:19Z\",\"updated_at\":\"2026-02-14T20:01:19Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":null,\"closed_by\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/14/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/14/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"pinned_comment\":null},{\"url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/13\",\"repository_url\":\"https://api.github.com/repos/t-eri125/js-exercises\",\"labels_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/13/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/13/comments\",\"events_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/13/events\",\"html_url\":\"https://github.com/t-eri125/js-exercises/issues/13\",\"id\"[...]
