{
  "log": {
    "_recordingName": "Close",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "09d6bccdd2d5453669d5e6e2e15bed6c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"state\":\"closed\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/t-eri125/js-exercises/issues/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3207,
            "text": "{\"url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/1\",\"repository_url\":\"https://api.github.com/repos/t-eri125/js-exercises\",\"labels_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/1/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/1/comments\",\"events_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/1/events\",\"html_url\":\"https://github.com/t-eri125/js-exercises/issues/1\",\"id\":3940834654,\"node_id\":\"I_kwDOOLKrZ87q5F1e\",\"number\":1,\"title\":\"test\",\"user\":{\"login\":\"t-eri125\",\"id\":203991549,\"node_id\":\"U_kgDODCip_Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/203991549?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/t-eri125\",\"html_url\":\"https://github.com/t-eri125\",\"followers_url\":\"https://api.github.com/users/t-eri125/followers\",\"following_url\":\"https://api.github.com/users/t-eri125/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/t-eri125/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/t-eri125/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/t-eri125/subscriptions\",\"organizations_url\":\"https://api.github.com/users/t-eri125/orgs\",\"repos_url\":\"https://api.github.com/users/t-eri125/repos\",\"events_url\":\"https://api.github.com/users/t-eri125/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/t-eri125/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"closed\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-02-14T08:48:28Z\",\"updated_at\":\"2026-02-14T08:49:13Z\",\"closed_at\":\"2026-02-14T08:49:13Z\",\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":null,\"closed_by\":{\"login\":\"t-eri125\",\"id\":203991549,\"node_id\":\"U_kgDODCip_Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/203991549?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/t-eri125\",\"html_url\":\"https://github.com/t-eri125\",\"followers_url\":\"https://api.github.com/users/t-eri125/followers\",\"following_url\":\"https://api.github.com/users/t-eri125/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/t-eri125/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/t-eri125/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/t-eri125/subscriptions\",\"organizations_url\":\"https://api.github.com/users/t-eri125/orgs\",\"repos_url\":\"https://api.github.com/users/t-eri125/repos\",\"events_url\":\"https://api.github.com/users/t-eri125/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/t-eri125/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"reactions\":{\"url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/1/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/t-eri125/js-exercises/issues/1/timeline\",\"performed_via_github_app\":null,\"state_reason\":\"completed\",\"pinned_comment\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"e596d77820847d502560be529435a72184b9bdf18a0e0eba3cedab12bda11298\""
            },
            {
              "name": "github-authentication-token-expiration",
              "value": "2026-02-21 17:33:41 +0900"
            },
            {
              "name": "x-accepted-github-permissions",
              "value": "issues=write; pull_requests=write"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4972"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1771099649"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            },
            {
              "name": "x-ratelimit-used",
              "value": "28"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 868,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
